etc/wsdl/test.wsdl

<?xml version="1.0"?>

<definitions name="UspEx1" targetNamespace="http://simulacity.com:8080/service/stockquote.wsdl" xmlns:tns="http://simulacity.com:8080/service/stockquote.wsdl" xmlns:xsdx="http://simulacity.com:8080/service/stockquote.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<types/>

<message name="ContractInput">
<part name="body" element="xsdx:ContractRequest"/>
</message>

<message name="ContractOutput">
<part name="body" element="xsdx:Contract"/>
</message>

<message name="StockQuoteInput">
<part name="body" element="xsdx:StockQuoteRequest"/>
</message>

<message name="StockQuoteOutput">
<part name="body" element="xsdx:StockQuote"/>
</message>

<portType name="UspEx1PortType">
<operation name="UspEx1">
<input message="tns:UspEx1Input"/>

<output message="tns:UspEx1Output"/>
</operation>
</portType>

<binding name="UspEx1SoapBinding" type="tns:UspEx1PortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

<operation name="UspEx1">
<soap:operation soapAction="http://simulacity.com:8080/service/stockquote">
<input>
<soap:body use="literal"/>
</input>

<output>
<soap:body use="literal"/>
</output>
</soap:operation>
</operation>
</binding>

<service name="UspEx1Service">
<documentation>UspEx1 Service</documentation>

<port name="UspEx1Port" binding="UspEx1SoapBinding">
<soap:address location="http://simulacity.com:8080/service/stockquote"/>
</port>
</service>
</definitions>
